
<div class="flex flex-col items-center bg-[#6e7554] lg:w-1/4 rounded mb-5 ml-3">
    <h1 class="text-2xl text-[#fffefd]">Se connecter</h1>
    <div class="flex flex-col">
        {{form_start(formco)}}
        <div class="flex flex-col text-center text-[#fffefd] p-2">
            {{form_label(formco.email)}}
            {{form_widget(formco.email)}}            
        </div>
        <div class="flex flex-col text-center text-[#fffefd] p-2">
            {{form_label(formco.pwd)}}
            {{form_widget(formco.pwd)}}            
        </div>
        <div class="flex justify-end m-5">
           <input type="submit" value="Se connecter" class="bg-[#fffefd] text-[#312c2e] text-xl rounded-full px-8 py-1 hover:bg-[#FF7F3F]"/> 
        </div>
            

        {{form_end(formco)}} 
        
        <p class="text-[#FFFEFD]">{{msg}}</p>     
    </div>        
</div>