<div>
    {# Boucle pour récupéré tous les hébergements du voyage de la base de données #}
    {% for host in hosts %}
        <div class="flex flex-col items-center center bg-[#6E7554] text-[#FFFEFD] rounded p-2 w-1/2 m-8">
            <p>{{host.name}}</p>
            <p>{{host.address}}</p>
            <p>{{host.phone}}</p>
            <p>{{host.info}}</p>
            <p>{{host.radio}}</p>
        </div>
        
    {% endfor %}     
</div>

